**Weather Prediction (PRECIPITATION)**

**Reading the File**

In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv(r'C:\Users\HP\Downloads\weather_prediction_dataset.csv')
df.head()

,DATE,MONTH,BASEL_cloud_cover,BASEL_humidity,BASEL_pressure,BASEL_global_radiation,BASEL_precipitation,BASEL_sunshine,BASEL_temp_mean,BASEL_temp_min,...,STOCKHOLM_temp_min,STOCKHOLM_temp_max,TOURS_wind_speed,TOURS_humidity,TOURS_pressure,TOURS_global_radiation,TOURS_precipitation,TOURS_temp_mean,TOURS_temp_min,TOURS_temp_max
0,20000101,1,8,0.89,1.0286,0.20,0.03,0.0,2.9,1.6,...,-9.3,0.7,1.6,0.97,1.0275,0.25,0.04,8.5,7.2,9.8
1,20000102,1,8,0.87,1.0318,0.25,0.00,0.0,3.6,2.7,...,0.5,2.0,2.0,0.99,1.0293,0.17,0.16,7.9,6.6,9.2
2,20000103,1,5,0.81,1.0314,0.50,0.00,3.7,2.2,0.1,...,-1.0,2.8,3.4,0.91,1.0267,0.27,0.00,8.1,6.6,9.6
3,20000104,1,7,0.79,1.0262,0.63,0.35,6.9,3.9,0.5,...,2.5,4.6,4.9,0.95,1.0222,0.11,0.44,8.6,6.4,10.8
4,20000105,1,5,0.90,1.0246,0.51,0.07,3.7,6.0,3.8,...,-1.8,2.9,3.6,0.95,1.0209,0.39,0.04,8.0,6.4,9.5

In [5]:
df.shape

(3654, 165)

In [6]:
df.columns

Index(['DATE', 'MONTH', 'BASEL_cloud_cover', 'BASEL_humidity',
       'BASEL_pressure', 'BASEL_global_radiation', 'BASEL_precipitation',
       'BASEL_sunshine', 'BASEL_temp_mean', 'BASEL_temp_min',
       ...
       'STOCKHOLM_temp_min', 'STOCKHOLM_temp_max', 'TOURS_wind_speed',
       'TOURS_humidity', 'TOURS_pressure', 'TOURS_global_radiation',
       'TOURS_precipitation', 'TOURS_temp_mean', 'TOURS_temp_min',
       'TOURS_temp_max'],
      dtype='object', length=165)

**Checking for Null values**

In [78]:
df.isna().sum()

MONTH                     0
BASEL_cloud_cover         0
BASEL_humidity            0
BASEL_pressure            0
BASEL_global_radiation    0
                         ..
TOURS_global_radiation    0
TOURS_precipitation       0
TOURS_temp_mean           0
TOURS_temp_min            0
TOURS_temp_max            0
Length: 164, dtype: int64

**Changing Object into Numeric**

In [28]:
df = df.apply(pd.to_numeric, errors='coerce')
df.dtypes

DATE                        int64
MONTH                       int64
BASEL_cloud_cover           int64
BASEL_humidity            float64
BASEL_pressure            float64
                           ...
TOURS_global_radiation    float64
TOURS_precipitation       float64
TOURS_temp_mean           float64
TOURS_temp_min            float64
TOURS_temp_max            float64
Length: 165, dtype: object

In [31]:
df.DATE.dtype

dtype('int64')

In [35]:
df.	BASEL_cloud_cover.dtype

dtype('int64')

**Dropping Unnecessary Columns**

In [36]:
df1=df.drop('DATE',axis=1)
df1.head()

,MONTH,BASEL_cloud_cover,BASEL_humidity,BASEL_pressure,BASEL_global_radiation,BASEL_precipitation,BASEL_sunshine,BASEL_temp_mean,BASEL_temp_min,BASEL_temp_max,...,STOCKHOLM_temp_min,STOCKHOLM_temp_max,TOURS_wind_speed,TOURS_humidity,TOURS_pressure,TOURS_global_radiation,TOURS_precipitation,TOURS_temp_mean,TOURS_temp_min,TOURS_temp_max
0,1,8,0.89,1.0286,0.20,0.03,0.0,2.9,1.6,3.9,...,-9.3,0.7,1.6,0.97,1.0275,0.25,0.04,8.5,7.2,9.8
1,1,8,0.87,1.0318,0.25,0.00,0.0,3.6,2.7,4.8,...,0.5,2.0,2.0,0.99,1.0293,0.17,0.16,7.9,6.6,9.2
2,1,5,0.81,1.0314,0.50,0.00,3.7,2.2,0.1,4.8,...,-1.0,2.8,3.4,0.91,1.0267,0.27,0.00,8.1,6.6,9.6
3,1,7,0.79,1.0262,0.63,0.35,6.9,3.9,0.5,7.5,...,2.5,4.6,4.9,0.95,1.0222,0.11,0.44,8.6,6.4,10.8
4,1,5,0.90,1.0246,0.51,0.07,3.7,6.0,3.8,8.6,...,-1.8,2.9,3.6,0.95,1.0209,0.39,0.04,8.0,6.4,9.5

**Making Data more Structured**

In [46]:
df_melted = df.melt(id_vars=['MONTH'], var_name='Variable', value_name='Value')
df_melted[['AREA', 'CHARACTERISTIC']] = df_melted['Variable'].str.rsplit('_', n=1, expand=True)
df_melted.drop(columns=['Variable'], inplace=True)
df_final = df_melted.pivot_table(index=['MONTH', 'AREA'], columns='CHARACTERISTIC', values='Value', aggfunc='mean').reset_index()

df_final.head()

CHARACTERISTIC,MONTH,AREA,cover,gust,humidity,max,mean,min,precipitation,pressure,radiation,speed,sunshine
0,1,BASEL,NaN,NaN,0.795884,NaN,NaN,NaN,0.140257,1.021849,NaN,NaN,2.457556
1,1,BASEL_cloud,5.717042,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,BASEL_global,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.43746,NaN,NaN
3,1,BASEL_temp,NaN,NaN,NaN,4.935048,2.036013,-0.758521,NaN,NaN,NaN,NaN,NaN
4,1,BUDAPEST,NaN,NaN,0.769196,NaN,NaN,NaN,0.115723,1.020972,NaN,NaN,2.399357

**Filling NA Values**

In [47]:
df_final.fillna(0, inplace=True)
df_final.head()

CHARACTERISTIC,MONTH,AREA,cover,gust,humidity,max,mean,min,precipitation,pressure,radiation,speed,sunshine
0,1,BASEL,0.000000,0.0,0.795884,0.000000,0.000000,0.000000,0.140257,1.021849,0.00000,0.0,2.457556
1,1,BASEL_cloud,5.717042,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.0,0.000000
2,1,BASEL_global,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.43746,0.0,0.000000
3,1,BASEL_temp,0.000000,0.0,0.000000,4.935048,2.036013,-0.758521,0.000000,0.000000,0.00000,0.0,0.000000
4,1,BUDAPEST,0.000000,0.0,0.769196,0.000000,0.000000,0.000000,0.115723,1.020972,0.00000,0.0,2.399357

In [48]:
df_final.columns

Index(['MONTH', 'AREA', 'cover', 'gust', 'humidity', 'max', 'mean', 'min',
       'precipitation', 'pressure', 'radiation', 'speed', 'sunshine'],
      dtype='object', name='CHARACTERISTIC')

**Encoding**

In [61]:
df_final=pd.get_dummies(df_final)
df_final.head()

,MONTH,cover,gust,humidity,max,mean,min,precipitation,pressure,radiation,...,AREA_SONNBLICK_cloud,AREA_SONNBLICK_global,AREA_SONNBLICK_temp,AREA_STOCKHOLM,AREA_STOCKHOLM_cloud,AREA_STOCKHOLM_temp,AREA_TOURS,AREA_TOURS_global,AREA_TOURS_temp,AREA_TOURS_wind
0,1,0.000000,0.0,0.795884,0.000000,0.000000,0.000000,0.140257,1.021849,0.00000,...,0,0,0,0,0,0,0,0,0,0
1,1,5.717042,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,...,0,0,0,0,0,0,0,0,0,0
2,1,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.43746,...,0,0,0,0,0,0,0,0,0,0
3,1,0.000000,0.0,0.000000,4.935048,2.036013,-0.758521,0.000000,0.000000,0.00000,...,0,0,0,0,0,0,0,0,0,0
4,1,0.000000,0.0,0.769196,0.000000,0.000000,0.000000,0.115723,1.020972,0.00000,...,0,0,0,0,0,0,0,0,0,0

In [62]:
X=df_final.drop('precipitation',axis=1)
X.head()

,MONTH,cover,gust,humidity,max,mean,min,pressure,radiation,speed,...,AREA_SONNBLICK_cloud,AREA_SONNBLICK_global,AREA_SONNBLICK_temp,AREA_STOCKHOLM,AREA_STOCKHOLM_cloud,AREA_STOCKHOLM_temp,AREA_TOURS,AREA_TOURS_global,AREA_TOURS_temp,AREA_TOURS_wind
0,1,0.000000,0.0,0.795884,0.000000,0.000000,0.000000,1.021849,0.00000,0.0,...,0,0,0,0,0,0,0,0,0,0
1,1,5.717042,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.0,...,0,0,0,0,0,0,0,0,0,0
2,1,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.43746,0.0,...,0,0,0,0,0,0,0,0,0,0
3,1,0.000000,0.0,0.000000,4.935048,2.036013,-0.758521,0.000000,0.00000,0.0,...,0,0,0,0,0,0,0,0,0,0
4,1,0.000000,0.0,0.769196,0.000000,0.000000,0.000000,1.020972,0.00000,0.0,...,0,0,0,0,0,0,0,0,0,0

**Feature Selection and Target Variable Definition**

In [63]:
y=df_final.precipitation
y.head()

0    0.140257
1    0.000000
2    0.000000
3    0.000000
4    0.115723
Name: precipitation, dtype: float64

**Data Splitting and Normalization**

In [64]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

import pandas as pd
X_train_scaled = pd.DataFrame(X_train_scaled, columns=X.columns)
X_test_scaled = pd.DataFrame(X_test_scaled, columns=X.columns)

In [65]:
X_train_scaled.head()

,MONTH,cover,gust,humidity,max,mean,min,pressure,radiation,speed,...,AREA_SONNBLICK_cloud,AREA_SONNBLICK_global,AREA_SONNBLICK_temp,AREA_STOCKHOLM,AREA_STOCKHOLM_cloud,AREA_STOCKHOLM_temp,AREA_TOURS,AREA_TOURS_global,AREA_TOURS_temp,AREA_TOURS_wind
0,0.090909,0.000000,0.0,0.000000,0.24249,0.327471,0.428574,0.000000,0.176958,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.181818,0.000000,0.0,0.857653,0.24249,0.327471,0.428574,0.994784,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.727273,0.000000,0.0,0.000000,0.24249,0.327471,0.428574,0.000000,0.000000,0.606963,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.636364,0.000000,0.0,0.774800,0.24249,0.327471,0.428574,0.993700,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.000000,0.946338,0.0,0.000000,0.24249,0.327471,0.428574,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

**Random Forest Model Training and Evaluation**

In [67]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

rf = RandomForestRegressor(n_estimators=100, random_state=42)
rf.fit(X_train_scaled, y_train)

y_pred = rf.predict(X_test_scaled)

mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print(f"RMSE: {rmse:.2f}")
print(f"RÂ² Score: {r2:.2f}")

RMSE: 0.02
RÂ² Score: 0.96